<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
  <h1>FragmentTest</h1>
  <th:block th:replace="~{/fragments/fragments3 :: target(~{this :: #ulFirst}, ~{this :: #ulSecond} )}">
    <ul id="ulFirst">
      <li>A</li>
      <li>B</li>
      <li>C</li>
    </ul>
    <ul id="ulSecond">
      <li>1</li>
      <li>2</li>
      <li>3</li>
    </ul>
  </th:block>
</body>
</html>