<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
         <!-- <Logger level="warn" name="jdbc.sqltiming" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger> --> 

        <Logger level="warn" name="jdbc.audit" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger level="warn" name="jdbc.resultset" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger level="warn" name="jdbc.sqlonly" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger level="warn" name="jdbc.connection" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger level="info" name="cokr.oneweeks" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>